In [5]:
import requests
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import HTTPError
import numpy as np

In [6]:
# income statement, yahoo finance 
test = 'https://finance.yahoo.com/quote/AAPL/financials?p=AAPL'
try:
    html = urlopen('https://finance.yahoo.com/quote/AAPL/financials?p=AAPL')
except HTTPError as e:
    print("not found")
bsObj = BeautifulSoup(html,"html.parser")
tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
if tables is None:
    print("no table");
    exit(1)

In [7]:
for table in tables:
    rows = table.findAll("tr")
    annual = []
    try:
        for row in rows:
            ROW = []
            for cell in row.findAll(['td']):
                ROW.append(cell.get_text())
            annual.append(ROW)
            
    finally:
        print("annual",annual)
        break

annual [['Revenue', '9/29/2018', '9/30/2017', '9/24/2016', '9/26/2015'], ['Total Revenue', '265,595,000', '229,234,000', '215,639,000', '233,715,000'], ['Cost of Revenue', '163,756,000', '141,048,000', '131,376,000', '140,089,000'], ['Gross Profit', '101,839,000', '88,186,000', '84,263,000', '93,626,000'], ['Operating Expenses'], ['Research Development', '14,236,000', '11,581,000', '10,045,000', '8,067,000'], ['Selling General and Administrative', '16,705,000', '15,261,000', '14,194,000', '14,329,000'], ['Non Recurring', '-', '-', '-', '-'], ['Others', '-', '-', '-', '-'], ['Total Operating Expenses', '194,697,000', '167,890,000', '155,615,000', '162,485,000'], ['Operating Income or Loss', '70,898,000', '61,344,000', '60,024,000', '71,230,000'], ['Income from Continuing Operations'], ['Total Other Income/Expenses Net', '2,005,000', '2,745,000', '1,348,000', '1,285,000'], ['Earnings Before Interest and Taxes', '70,898,000', '61,344,000', '60,024,000', '71,230,000'], ['Interest Expense', '-3,240,000', '-2,323,000', '-1,456,000', '-733,000'], ['Income Before Tax', '72,903,000', '64,089,000', '61,372,000', '72,515,000'], ['Income Tax Expense', '13,372,000', '15,738,000', '15,685,000', '19,121,000'], ['Minority Interest', '-', '-', '-', '-'], ['Net Income From Continuing Ops', '59,531,000', '48,351,000', '45,687,000', '53,394,000'], ['Non-recurring Events'], ['Discontinued Operations', '-', '-', '-', '-'], ['Extraordinary Items', '-', '-', '-', '-'], ['Effect Of Accounting Changes', '-', '-', '-', '-'], ['Other Items', '-', '-', '-', '-'], ['Net Income'], ['Net Income', '59,531,000', '48,351,000', '45,687,000', '53,394,000'], ['Preferred Stock And Other Adjustments', '-', '-', '-', '-'], ['Net Income Applicable To Common Shares', '59,531,000', '48,351,000', '45,687,000', '53,394,000']]

In [8]:
# remove useless rows
annual.remove(annual[4])
annual.remove(annual[10])
annual.remove(annual[17])
annual.remove(annual[21])

In [9]:

#[annual[i][0].replace(' ', '_').lower() for i in range(len(annual))]

In [10]:
#AAPL annual '9/29/2018' income statement
date_18 = {}
for i in range(len(annual)):
    date_18[annual[i][0].replace(' ', '_').lower()]= annual[i][1]
#print(date_18)
# replace 'Revenue' with 'Date'
date_18['date']=date_18['revenue']
del date_18['revenue']
#print('date_18:',date_18)

#AAPL annual '9/30/2017' income statement
date_17 = {}
for i in range(len(annual)):
    date_17[annual[i][0].replace(' ', '_').lower()]= annual[i][1]
# replace 'Revenue' with 'Date'
date_17['date']=date_17['revenue']
del date_17['revenue']
#print('date_17:', date_17)

#AAPL annual ''9/24/2016'' income statement
date_16 = {}
for i in range(len(annual)):
    date_16[annual[i][0].replace(' ', '_').lower()]= annual[i][1]
# replace 'Revenue' with 'Date'
date_16['date']=date_16['revenue']
del date_16['revenue']
#print('date_16:', date_16)

#AAPL annual '9/26/2015' income statement
date_15 = {}
for i in range(len(annual)):
    date_15[annual[i][0].replace(' ', '_').lower()]= annual[i][1]
# replace 'Revenue' with 'Date'
date_15['date']=date_15['revenue']
del date_15['revenue']
#print('date_15:', date_15)

In [11]:
# annual balance, yahoo finance 
try:
    html = urlopen('https://finance.yahoo.com/quote/AAPL/balance-sheet?p=AAPL')
except HTTPError as e:
    print("not found")
bsObj = BeautifulSoup(html,"html.parser")
tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
if tables is None:
    print("no table");
    exit(1)

In [12]:
for table in tables:
    rows = table.findAll("tr")
    annual_balance = []
    try:
        for row in rows:
            ROW = []
            for cell in row.findAll(['td']):
                ROW.append(cell.get_text())
            annual_balance.append(ROW)
            
    finally:
        #print("annual",annual)
        break

In [13]:
#print(annual_balance)

In [14]:
# remove useless rows
annual_balance.remove(annual_balance[0])
annual_balance.remove(annual_balance[0])
annual_balance.remove(annual_balance[14])
annual_balance.remove(annual_balance[24])
#print(annual_balance)

In [15]:
#AAPL annual '9/29/2018' balance sheet
for i in range(len(annual_balance)):
    date_18[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][1]
#print(date_18)

#AAPL annual '9/30/2017' balance sheet
for i in range(len(annual_balance)):
    date_17[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][1]
#print(date_17)

#AAPL annual '9/24/2016' balance sheet
for i in range(len(annual_balance)):
    date_16[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][1]
#print(date_16)

#AAPL annual '9/26/2015' balance sheet
for i in range(len(annual_balance)):
    date_15[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][1]
#print(date_15)
#print(len(date_18))

In [16]:
# cash flow, yahoo finance 
try:
    html = urlopen('https://finance.yahoo.com/quote/AAPL/cash-flow?p=AAPL')
except HTTPError as e:
    print("not found")
bsObj = BeautifulSoup(html,"html.parser")
tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
if tables is None:
    print("no table");
    exit(1)

In [17]:
for table in tables:
    rows = table.findAll("tr")
    annual_cash = []
    try:
        for row in rows:
            ROW = []
            for cell in row.findAll(['td']):
                ROW.append(cell.get_text())
            annual_cash.append(ROW)
            
    finally:
        #print("annual",annual)
        break

In [18]:
# remove useless rows
annual_cash.remove(annual_cash[0])
annual_cash.remove(annual_cash[1])
annual_cash.remove(annual_cash[8])
annual_cash.remove(annual_cash[12])
#print(annual_cash)

In [19]:
#AAPL annual '9/29/2018' balance sheet
for i in range(len(annual_cash)):
    date_18[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][1]
#print(date_18)

#AAPL annual '9/30/2017' balance sheet
for i in range(len(annual_cash)):
    date_17[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][1]
#print(date_17)

#AAPL annual '9/24/2016' balance sheet
for i in range(len(annual_cash)):
    date_16[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][1]
#print(date_16)

#AAPL annual '9/26/2015' balance sheet
for i in range(len(annual_cash)):
    date_15[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][1]
#print(date_15)

In [20]:
take_ticker = 'https://finance.yahoo.com/quote/AAPL/financials?p=AAPL'
take_ticker = take_ticker.split('/')
tickers = take_ticker[4]
date_18['ticker'] = tickers
date_17['ticker'] = tickers
date_16['ticker'] = tickers
date_15['ticker'] = tickers
print(len(date_18))
#date_18

76

In [49]:
import pandas as pd
tickers=pd.read_csv("/Users/sunyu/Desktop/crawller/company_tickers.csv", header=0)
tickers=tickers['symbol']
for i in tickers:
    try:

0           A
1          AA
2        AAAU
3        AABA
4         AAC
5        AADR
6         AAL
7        AAMC
8        AAME
9         AAN
10       AAOI
11       AAON
12        AAP
13       AAPL
14        AAT
15        AAU
16       AAWW
17       AAXJ
18       AAXN
19         AB
20       ABAC
21        ABB
22       ABBV
23        ABC
24       ABCB
25       ABDC
26       ABEO
27       ABEV
28        ABG
29       ABIL
        ...
8558     ZHOK
8559    ZIEXT
8560     ZION
8561    ZIONW
8562     ZIOP
8563      ZIV
8564     ZIXI
8565     ZJPN
8566     ZKIN
8567     ZLAB
8568     ZMLP
8569       ZN
8570     ZNGA
8571      ZNH
8572      ZOM
8573     ZROZ
8574       ZS
8575     ZSAN
8576      ZSL
8577      ZTO
8578      ZTR
8579      ZTS
8580     ZUMZ
8581      ZUO
8582    ZVZZT
8583    ZWZZT
8584    ZXIET
8585    ZXZZT
8586     ZYME
8587     ZYNE
Name: symbol, Length: 8588, dtype: object

In [16]:
print(len(date_18))

76

In [9]:
import requests
import json
import csv
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import HTTPError
import numpy as np

In [4]:
def getFinancials(ticker):
    headers={'Content-type':'application/json'}
    url='http://18.191.248.104:8888/api/company/add/financials'
    # income statement, yahoo finance 
    test = 'https://finance.yahoo.com/quote/'+str(ticker)+'/financials?p=AAPL'
    try:
        html = urlopen(test)
    except HTTPError as e:
        print("not found")
    bsObj = BeautifulSoup(html,"html.parser")
    tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
    if tables is None:
        print("no table");
        exit(1)

    for table in tables:
        rows = table.findAll("tr")
        annual = []
        try:
            for row in rows:
                ROW = []
                for cell in row.findAll(['td']):
                    ROW.append(cell.get_text())
                annual.append(ROW)
                
        finally:
            #print("annual",annual)
            return 

    # remove useless rows
    annual.remove(annual[4])
    annual.remove(annual[10])
    annual.remove(annual[17])
    annual.remove(annual[21])

    for j in range(len(annual)):
        annual[j][0]=annual[j][0].replace('/','_')
        annual[j][0]=annual[j][0].replace('.','')

    #AAPL annual '9/29/2018' income statement
    date_18 = {}
    for i in range(len(annual)):
        date_18[annual[i][0].replace(' ', '_').lower()]= annual[i][1]
    #print(date_18)
    # replace 'Revenue' with 'Date'
    date_18['date']=date_18['revenue']
    del date_18['revenue']
    #print('date_18:',date_18)

    #AAPL annual '9/30/2017' income statement
    date_17 = {}
    for i in range(len(annual)):
        date_17[annual[i][0].replace(' ', '_').lower()]= annual[i][2]
    # replace 'Revenue' with 'Date'
    date_17['date']=date_17['revenue']
    del date_17['revenue']
    #print('date_17:', date_17)

    #AAPL annual ''9/24/2016'' income statement
    date_16 = {}
    for i in range(len(annual)):
        date_16[annual[i][0].replace(' ', '_').lower()]= annual[i][3]
    # replace 'Revenue' with 'Date'
    date_16['date']=date_16['revenue']
    del date_16['revenue']
    #print('date_16:', date_16)

    #AAPL annual '9/26/2015' income statement
    date_15 = {}
    for i in range(len(annual)):
        date_15[annual[i][0].replace(' ', '_').lower()]= annual[i][4]
    # replace 'Revenue' with 'Date'
    date_15['date']=date_15['revenue']
    del date_15['revenue']
    #print('date_15:', date_15)

    # annual balance, yahoo finance 
    try:
        html = urlopen('https://finance.yahoo.com/quote/AAPL/balance-sheet?p='+str(ticker))
    except HTTPError as e:
        print("not found")
    bsObj = BeautifulSoup(html,"html.parser")
    tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
    if tables is None:
        print("no table");
        exit(1)

    for table in tables:
        rows = table.findAll("tr")
        annual_balance = []
        try:
            for row in rows:
                ROW = []
                for cell in row.findAll(['td']):
                    ROW.append(cell.get_text())
                annual_balance.append(ROW)
                
        finally:
            #print("annual",annual)
            break

    # remove useless rows
    annual_balance.remove(annual_balance[0])
    annual_balance.remove(annual_balance[0])
    annual_balance.remove(annual_balance[14])
    annual_balance.remove(annual_balance[24])

    for j in range(len(annual_balance)):
        annual_balance[j][0]=annual_balance[j][0].replace('/','_')
        annual_balance[j][0]=annual_balance[j][0].replace('.','')

    #AAPL annual '9/29/2018' balance sheet
    for i in range(len(annual_balance)):
        date_18[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][1]
    #print(date_18)

    #AAPL annual '9/30/2017' balance sheet
    for i in range(len(annual_balance)):
        date_17[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][2]
    #print(date_17)

    #AAPL annual '9/24/2016' balance sheet
    for i in range(len(annual_balance)):
        date_16[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][3]
    #print(date_16)

    #AAPL annual '9/26/2015' balance sheet
    for i in range(len(annual_balance)):
        date_15[annual_balance[i][0].replace(' ', '_').lower()]= annual_balance[i][4]
    #print(date_15)
    #print(len(date_18))

    # cash flow, yahoo finance 
    try:
        html = urlopen('https://finance.yahoo.com/quote/'+str(ticker)+'/cash-flow?p=AAPL')
    except HTTPError as e:
        print("not found")
    bsObj = BeautifulSoup(html,"html.parser")
    tables = bsObj.findAll("table",{"class":"Lh(1.7) W(100%) M(0)"})
    if tables is None:
        print("no table");
        exit(1)

    for table in tables:
        rows = table.findAll("tr")
        annual_cash = []
        try:
            for row in rows:
                ROW = []
                for cell in row.findAll(['td']):
                    ROW.append(cell.get_text())
                annual_cash.append(ROW)
                
        finally:
            #print("annual",annual)
            break

    # remove useless rows
    annual_cash.remove(annual_cash[0])
    annual_cash.remove(annual_cash[1])
    annual_cash.remove(annual_cash[8])
    annual_cash.remove(annual_cash[12])
    for j in range(len(annual_cash)):
        annual_cash[j][0]=annual_cash[j][0].replace('/','_')
        annual_cash[j][0]=annual_cash[j][0].replace('.','')
    date_18['cashflow_net_income']=annual_cash[0][1]
    date_18['ticker']=str(ticker)
    date_17['cashflow_net_income']=annual_cash[0][2]
    date_17['ticker']=str(ticker)
    date_16['cashflow_net_income']=annual_cash[0][3]
    date_16['ticker']=str(ticker)
    date_15['cashflow_net_income']=annual_cash[0][4]
    date_15['ticker']=str(ticker)
    #AAPL annual '9/29/2018' balance sheet
    for i in range(1, len(annual_cash)):
        date_18[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][1]
    #print(date_18)

    #AAPL annual '9/30/2017' balance sheet
    for i in range(1, len(annual_cash)):
        date_17[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][2]
    #print(date_17)

    #AAPL annual '9/24/2016' balance sheet
    for i in range(1, len(annual_cash)):
        date_16[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][3]
    #print(date_16)

    #AAPL annual '9/26/2015' balance sheet
    for i in range(1, len(annual_cash)):
        date_15[annual_cash[i][0].replace(' ', '_').lower()]= annual_cash[i][4]
    #print(date_15)
    res=requests.post(url, data=json.dumps(date_18), headers=headers)
    print(res.status_code)
    res=requests.post(url, data=json.dumps(date_17), headers=headers)
    print(res.status_code)
    res=requests.post(url, data=json.dumps(date_16), headers=headers)
    print(res.status_code)
    res=requests.post(url, data=json.dumps(date_15), headers=headers)
    print(res.status_code)

In [5]:
if __name__=="__main__":
    tickers=pd.read_csv("company_tickers.csv", header=0)
    tickers=tickers['symbol']
    for i in tickers:
        getFinancials(i)

In [18]:

#test = 'https://finance.yahoo.com/quote/'+str('A')+'/financials?p=AAPL'
#html1 = urlopen('https://finance.yahoo.com/quote/'+str(A)+'/cash-flow?p=AAPL')
#html2 = urlopen('https://finance.yahoo.com/quote/AAPL/balance-sheet?p='+str(A))
print(test)

https://finance.yahoo.com/quote/A/financials?p=AAPL